@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Karla&display=swap');

body{
  
  font-family: 'Karla', sans-serif;
}
.nav-wrapper{
  background-color: #FFF;
}
ul{
  margin: 0;
  list-style: none;
  color: #555;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.list-styled{
  display: flex;
  padding: 20px 15%;
  justify-content: space-between;
  align-items: center;
}
img{
  width: 25px;
  height: 25px;
}
.jumbotron-section{
  color: #FFF;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 60px;
  background-color: #000;
  padding-bottom: 5%;
}

.title{
  color: #555;
  font-size: 19px;
  margin: 0 0 10px 0;
  font-family: sans-serif;
}

.text {
  font-weight: bolder;
  background-clip: text; 
  -webkit-background-clip: text; 
  color: transparent; 
  background-image: linear-gradient(182deg,#ffffff 10%, #b43900 90%);
  font-size: 55px;
  font-family: sans-serif;
  letter-spacing: -2px;
  margin: 20px 0;
}

.subtitle2{
  font-weight: bolder;
  background-clip: text; 
  -webkit-background-clip: text; 
  color: transparent; 
  background-image: linear-gradient(212deg,#ffa14a 10%, #ff5100 90%);
  font-size: 55px;
  font-family: sans-serif;
  letter-spacing: -2px;
  margin: 20px 0;
}

.description{
  font-weight: 500;
  font-size: 25px;
  letter-spacing: -1px;
}

.links{
  display: flex;
  margin-top: 2%;
  padding: 0 1%;
  justify-content: center;
  align-items: center;
}

.subtitle{
  font-size: 30px;
  margin: 0 0 10px 0;
  font-family: sans-serif;
}


.button{
  background: #7c7c7c;
  color: #fff;
  cursor: pointer;
  margin: 0 24px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
}

.button:hover{
  background: #555;
}
.link{
  font-size: 20px;
  font-weight: 300;
  font-family: 'Karla', sans-serif;
}

.xiaomi-img{
  width: 22vw;
  height: 60vh;
}

.sound{
  background: #FFF;
  display: flex;
  justify-content: center;
  padding: 10% 0;
}

.display{
  display: flex;
  justify-content: center;
  padding: 10% 0;
  background: #000;
}